* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, sans-serif;
  color: black;
  text-transform: none;
  font-size: 125%;
}

p {
  color: blue;
  font-size: medium;
  width: 800px;
}

h1 {
  color: green;
  font-size: 38px;
  text-align: center;
}

body > ul > li {
  list-style-type: none;
}

body ul a:link,
body ul a:visited {
  text-decoration: none;
  background-color: green;
  border: 1px solid blue;
  color: black;
  display: block;
  width: 150px;
  text-align: center;
  margin-bottom: 10px;
}

body ul a:hover,
body ul a:active {
  background-color: greenyellow;
  text-decoration: underline;
  color: blue;
}

body > ul > li:nth-child(4) {
  font-size: large;
}

#welcome {
  background-color: #daff00;
  width: 710px;
  color: black;
  text-align: center;
  padding: 40px 230px 40px 230px;
  border: 15px solid black;
  margin: 10px;
}
